.street {
   background-color: #F4F4F2;
    background-size: 110%;
    width: 750%;
    border: 2px solid rgba(75, 69, 69, 0.112);
}

.Animate {
  display: flex;
  position: relative;
  animation-name: example;
  animation-duration: 1.5s;  
  animation-delay: 0.3s;
  animation-fill-mode: both;

  }
  
  
  @keyframes example {
    from {left: -100px; }
    to {left: 50%; }
  }

  /* @keyframes mymove {
    from {left: 0px;}
    to {left: 175px;}
  } */