.street {
   background-color: #F4F4F2;
    background-size: 110%;
    width: 750%;
    border: 2px solid rgba(75, 69, 69, 0.112);
}

.Animate {
    position: relative;
    animation: mymove 5s infinite;
    display: flex;
    animation-fill-mode: forwards;
  }
  
  #anime {animation-timing-function: ease-in;}
  
  @keyframes mymove {
    from {left: -100px;}
    to {left: 500px;}
  }