@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');



.App {
  text-align: center;
}

.bgcolor {
  
    background: linear-gradient(to bottom , #F4F4F2 50%, #DC0000 50% );
  
}

.testColor {
 color: #4954648a
}

.logo {
  font-family: 'Chakra Petch', sans-serif;
  color: #DC0000;
}
